[submodule "contracts/gnus-ai"]
	path = contracts/gnus-ai
	url = git@github.com:GeniusVentures/gnus-ai-contracts.git
[submodule "diamonds/GeniusDiamond"]
	path = diamonds/GeniusDiamond
	url = git@github.com:GeniusVentures/GeniusDiamond.git
