node_modules
.env
.env.backup
.env.local
typechain

#Hardhat files
cache
artifacts

.idea

typechain-types
fast.test.ts
logs
dist
.vscode/settings.json

tmp
notes
diamond-abi/**/*.json
.yarn/
diamond-typechain-types/*.ts
diamond-typechain-types/factories

# Foundry test helper artifacts
test/foundry/helpers/DiamondDeployment.sol

#Foundry files
out/
cache_forge/
broadcast/
lib/